.vscode/
.idea/
build/
xor_model.bin
esr.bin
node_modules/
output.png
digit_model.bin
digit_model.json
package-lock.json
test.ts
experiments
target/

*.test.bin
*.test.st
_test/run.ts
_test/Student_Performance.csv
